@model iep_project.Models.CommunicationChannel

@{
    ViewBag.Title = "Communication Channel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Communication Channel - @Html.DisplayFor(model => model.Title)</h2>

<div class="container">
    <ul id="discussion">
        @foreach (var message in ViewBag.Messages)
        {
            <li><strong>@message.ApplicationUser.Name: </strong>@message.Message</li>
        }
    </ul>
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="channelId" value="@Model.Id" />
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts {

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            var chat = $.connection.communicationHub;

            chat.client.addNewMessage = function (user, message) {
                $('#discussion').append('<li><strong>' + htmlEncode(user) + ': </strong>' + htmlEncode(message) + '</li>');
            };

            $('#message').focus();

            $.connection.hub.start().done(function () {

                chat.server.joinChannel($('#channelId').val());

                $('#sendmessage').click(function () {
                    chat.server.send($('#channelId').val(), $('#message').val());
                    $('#message').val('').focus();
                });
            });
        });
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}