@model iep_project.Models.Question

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Message != "")
{
    <h1 class="danger">
        @Html.Raw(ViewBag.Message)
    </h1>
}

<h2>
        @if (Model.Locked) { 
            @Html.Raw("[Locked]")
        }
        @Html.DisplayFor(model => model.Title)
</h2>

<h4>@Html.DisplayFor(model => model.Category.CategoryName)</h4>

<br />

<div class="panel panel-primary">
    <div class="panel-heading">
        @Html.DisplayFor(model => model.ApplicationUser.Name)
    </div>
    <div class="panel-body">
        @if (Model.ImagePath != null)
        {
            <img src="@Url.Content(Model.ImagePath)" class="center-block" alt=""/><br />
        }
        @Html.DisplayFor(model => model.Text)
    </div>
    <div class="panel-footer">
        <div class="pull-left">
            @Html.DisplayFor(model => model.Created)
        </div>
        <div class="pull-right">
            @Html.ActionLink("Reply", "CreateAnswer", new { QuestionId = Model.Id })
            @if (Model.Locked == false && User.Identity.Name == Model.ApplicationUser.UserName)
            {
                @Html.Raw(" | ")
                @Html.ActionLink("Lock", "Lock", new { QuestionId = Model.Id })
            }
            @if (Model.Locked == true && (User.IsInRole("Admin") || User.IsInRole("Agent")))
            {
                @Html.Raw(" | ")
                @Html.ActionLink("Unlock", "Unlock", new { QuestionId = Model.Id })
            }
            @if (User.Identity.Name == Model.ApplicationUser.UserName || User.IsInRole("Admin"))
            {
                @Html.Raw(" | ")
                @Html.ActionLink("Delete", "Delete", new { Id = Model.Id })
            }
        </div>
        <br />
    </div>
</div>

@{
    foreach (iep_project.Models.Answer answer in ViewBag.Answers)
    {
        Html.RenderPartial("_AnswerPartial", answer);
    }
}

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
